.bigblackbutton {
    z-index: 2;
    width: 200px;
    height: 34px;
    padding-top: 4px;
    background-color:$black;
    color: $brown;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-family: mainFont;
    cursor: pointer;
    &:hover {
        color: $midbrown;
    }
}

.AddtocartButtons {
    background-color: $black;
    color: $offwhite;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    margin: 1px;
    font-weight: bolder;
    font-size: 16px;
    &:hover {
        color: $midbrown;
    }
}