$white: rgb(255, 255, 255);
$pale: rgb(230, 220, 200);
$offwhite: rgb(199, 194, 155);
$offwhite50: rgba(199, 194, 155, 0.5);
$midbrown: rgb(213,157,36);
$brown: rgb(149,101,3);
$darkbrown: rgb(60, 40, 0);
$darkbrown70: rgba(60, 40, 0, 0.7);
$black: rgb(0,0,0);