.footerContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    height: 100px;
    background-color: $offwhite50;
    bottom: 0px;
    padding-left: 9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    color: $darkbrown;
}
.footer_icon {
    position: relative;
    height: 30px;
    width: auto;
    margin-right: 20px;
}

.payments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    font-size: 30px;
}