@import './colors';

.home_img_container {
    position: relative;
    left: 45vw;
    width: 50vw;
    height: 650px;
    background-image: url('../images/photo/000a.webp');
    background-position: 27vw -100px;
    background-size: 1500px;
    background-attachment: fixed;
    // background-repeat: no-repeat;
}

.home_img_text {
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 150px;
    position: absolute;
    left: 90px;
    top: 202px;
    line-height: 0.5;
    padding-bottom: -140px;
}

.colored_txt {
    color: $darkbrown
}

.shadow_txt {
    text-shadow: 1px 1px 2px $darkbrown;
}

.home_summeradd_container {
    position: relative;
    width: 100vw;
    height: 400px;
    top: 125px;
    left: -47vw;
    padding-left: 165px;
    background-color: $offwhite;
    z-index: 	-1;
}

.home_summeradd_text {
    position: relative;
    width: 280px;
    height: 400px;
    top: -300px;
    left: -590px;
    font-size: 0.3em;
    line-height: 0.7;
}

.home_summercollection_button {
    position: relative;
    bottom: -10px;
    left: 10px;
    z-index: 1;
}

.home_text {
    margin-right: 50px;
}