.oops {
    position: relative;
    height: 250px;
    width: 100vw;
    background-color: $offwhite;
    font-size: 40px;
    text-align: center;
    margin-top: 15vh;
    padding-top: 30px;
    line-height: 0.1;
    left: -20px;
}

.oops_icon {
    position: relative;
    height: 50px;
    top: -25px;
}