.oops {
    position: relative;
    height: 35vh;
    width: 100vw;
    background-color: $offwhite;
    font-size: 5vh;
    text-align: center;
    margin-top: 15vh;
    padding-top: 3vh;
    line-height: 0.1;
}
.oops_icon {
    position: relative;
    height: 10vh;
    top: -5vh;
}