.overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 0;
}

.overview_img_container {
    width: 33.33vw;
    height: 25vw;
    object-fit: contain;
    overflow: hidden;
}

.overview_img {
    width: 100%;
    object-fit: contain;
    filter: sepia(90%);
    &:hover {
        filter: none;
        transition: all 0.2s ease-in-out;
    }
}

.productname {
    position: relative;
    top: 90%;
    left: 10%;
    color: $black;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px $offwhite50;
    opacity: 0.9;
}