.productpage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    padding-left: 9vw;
    padding-right: 9vw;
    background-color: $offwhite;
    margin-top: 70px;
}

.productpage_pic {
    position: relative;
    height: 600px;
    width: auto;
    top: -30px;
    box-shadow: 3px 3px 10px $black;
}

.productpage_text {
    text-align: justify;
    width: 400px;
    margin-right: 12vw;
    line-height: 0.9;
    margin-top: 50px;
}

.productpage_button_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 27px;
    top: 480px;
}

.productpage_price {
    color: $darkbrown;
    font-size: 50px;
    margin-right: 10px;
}

.productpage_infoblock {
    position: relative;
}
