.productpage {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 520px;
    padding-left: 9vw;
    padding-right: 9vw;
    background-color: $offwhite;
    margin-top: 70px;
}

.productpage_pic {
    position: relative;
    height: 600px;
    width: auto;
    top: -50px;
    box-shadow: 3px 3px 10px $black;
}

.productpage_text {
    text-align: justify;
    width: 400px;
    margin-right: 12vw;
    line-height: 0.9;
}

.productpage_button_container {
    position: relative;;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 406px;
    left: -2px;
}
