.register {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $pale;
    padding: 65px;
    border-radius: 4px;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: $offwhite;
    background-color: $darkbrown;
  }
  .register__google {
    background-color: $midbrown;
  }
  .register div {
    margin-top: 17px;
  }