.reset {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $pale;
    padding: 30px;
    border-radius: 4px;
  }
  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .reset__btn {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: $offwhite;
    background-color: $darkbrown;
    &:hover {
      color: $white;
    }
  }
  .reset div {
    margin-top: 17px;
  }