@font-face {
  font-family: mainFont;
  src: url(/src/fonts/himalaya.ttf);
}
.navbar {
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  top: 0px;
  left: -10px;
  height: 80px;
  width: 101vw;
  background-color: white;
  color: black;
}
.navbar :link {
  text-decoration: none;
  color: black;
}
.navbar :visited {
  color: black;
}

.nav_links {
  display: flex;
  gap: 22px;
  font-size: 1.1em;
  font-weight: bold;
}
.nav_links :hover {
  color: #956503;
}

.nav_icons {
  display: flex;
  font-size: 0.7em;
  position: relative;
  gap: 15px;
}
.nav_icons :hover {
  color: #956503;
}

nav_name {
  margin-top: 10px;
  font-size: 1.5em;
}

.nav_shoppingbagcounter {
  position: relative;
  font-size: 1em;
  text-align: center;
  padding: 1px;
  height: 12px;
  width: 12px;
  border: 2px solid white;
  border-radius: 50%;
  left: -20px;
  top: -10px;
  color: white;
  background-color: black;
}

.home_img_container {
  position: relative;
  left: 45vw;
  width: 50vw;
  height: 650px;
  background-image: url("../images/photo/000a.webp");
  background-position: 27vw -100px;
  background-size: 1500px;
  background-attachment: fixed;
}

.home_img_text {
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: 150px;
  position: absolute;
  left: 90px;
  top: 202px;
  line-height: 0.5;
  padding-bottom: -140px;
}

.colored_txt {
  color: #3c2800;
}

.shadow_txt {
  text-shadow: 1px 1px 2px #3c2800;
}

.home_summeradd_container {
  position: relative;
  width: 100vw;
  height: 400px;
  top: 125px;
  left: -47vw;
  padding-left: 165px;
  background-color: #c7c29b;
  z-index: -1;
}

.home_summeradd_text {
  position: relative;
  width: 280px;
  height: 400px;
  top: -300px;
  left: -590px;
  font-size: 0.3em;
  line-height: 0.7;
}

.home_summercollection_button {
  position: relative;
  bottom: -10px;
  left: 10px;
  z-index: 1;
}

.home_text {
  margin-right: 50px;
}

.bigblackbutton {
  z-index: 2;
  width: 200px;
  height: 34px;
  padding-top: 4px;
  background-color: black;
  color: #956503;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  font-family: mainFont;
  cursor: pointer;
}
.bigblackbutton:hover {
  color: #d59d24;
}

.squaredButton {
  background-color: #3c2800;
  color: #c7c29b;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  margin: 1px;
  font-weight: bolder;
  font-size: 16px;
}
.squaredButton:hover {
  color: #d59d24;
}

.oops {
  position: relative;
  height: 250px;
  width: 100vw;
  background-color: #c7c29b;
  font-size: 40px;
  text-align: center;
  margin-top: 15vh;
  padding-top: 30px;
  line-height: 0.1;
  left: -20px;
}

.oops_icon {
  position: relative;
  height: 50px;
  top: -25px;
}

.productpage {
  position: relative;
  display: flex;
  flex-direction: row;
  left: -20px;
  width: 100vw;
  height: 520px;
  padding-left: 9vw;
  padding-right: 9vw;
  background-color: #c7c29b;
  margin-top: 70px;
}

.productpage_pic {
  position: relative;
  height: 600px;
  width: auto;
  top: -50px;
  box-shadow: 3px 3px 10px black;
}

.productpage_text {
  text-align: justify;
  width: 400px;
  margin-right: 12vw;
  line-height: 0.9;
}

.productpage_button_container {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 400px;
  bottom: 50px;
}

.productpage_price {
  color: #3c2800;
  font-size: 50px;
  margin-right: 10px;
}

.productpage_infoblock {
  position: relative;
}

.sizeselector {
  text-align: center;
  background-color: #3c2800;
  color: #c7c29b;
  height: 25px;
  width: 120px;
  border-radius: 2px;
  border: none;
  margin: 1px;
  font-weight: bolder;
  font-size: 14px;
}
.sizeselector:hover {
  color: #d59d24;
}

.colorselector {
  text-align: center;
  background-color: #3c2800;
  color: #c7c29b;
  height: 25px;
  width: 180px;
  border-radius: 2px;
  border: none;
  margin: 1px;
  font-weight: bolder;
  font-size: 14px;
}
.colorselector:hover {
  color: #d59d24;
}

.modal {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal_content {
  width: 50vw;
  background-color: #c7c29b;
  border-radius: 4px;
  box-shadow: 3px 3px 12px #3c2800;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal.show .modal_content {
  transform: translateY(0);
}

.modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.moda_close_button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal_body {
  padding: 10px;
  border-top: 2px solid #3c2800;
  padding-bottom: 50px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 0;
  margin-left: -20px;
}

.overview_img_container {
  width: 33.33vw;
  height: 25vw;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.overview_img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: sepia(90%);
}
.overview_img:hover {
  filter: none;
}

body {
  position: absolute;
  font-family: mainFont;
  font-size: 1.5em;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */