@import "./fonts";
@import "./navbar";
@import "./colors";
@import "./home";
@import "./buttons";
@import "./oops";
@import "./productpage";
@import "./sizeselector";
@import "./colorselector";
@import "./modal";
@import "./overview";
@import "./aboutus";
@import "./login";
@import "./register";
@import "./reset";
@import "./dasboard";
@import "./mediaqueries_mob";
@import "./mediaqueries_tab";
@import "./contact";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  position: absolute;
  font-family: mainFont;
  font-size: 1.5em;
  padding-top: 60px;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;}

::-webkit-scrollbar-thumb {
  background: $darkbrown70;
  border-radius: 4px;
  box-shadow: inset -1px -1px 5px $black;}

::-webkit-scrollbar-thumb:hover {
  background: $darkbrown}
